  <h2>Implementation Details</h2>
  <ul>
    <li>
      <strong>Back-end</strong>
      <ul>
        <li>Tests are located in the solution folder - UnitTests. There are 4 unit test projects.</li>
        <li>Best Practices - SOLID principles have been used throughout the backend.</li>
        <li>Best Practices - Async / Await programming.</li>
        <li>Best Practices - RESTful API using the correct verb and return status.</li>
        <li>Best Practices - Repository Pattern has been used for the Data Access in order to achieve abstraction.</li>
        <li>Security - Fluent Validation has been applied to the Backend View Models.</li>
        <li>Security - Rate Limiting has been applied to the backend API endpoints.</li>
        <li>Security - Updated the latest NuGet packages to the latest versions.</li>
        <li></li>
    </ul>
    </li>
    <li>
      <strong>Front-end</strong>
      <strong>Front-end</strong>
      <ul>
          <li>Using Angular signals instead of observables.</li>
          <li>Using Angular NgRx/signals for state management.</li>
          <li>Unit tests for components, services, and stores.</li>
          <li>Security - Updated the npm packages which included critical vulnerabilities.</li>
      </ul>
    </li>
  </ul>
  
  
  