  <h2>Implementation Details</h2>
  <ul>
    <li>
      <strong>Back-end</strong>
      <ul>
        <li>Tests are located in the solution folder - UnitTests. There are 4 unit test projects.</li>
        <li>Best Practices - SOLID principles have been used throughout the backend.</li>
        <li>Best Practices - Async / Await programming.</li>
        <li>Best Practices - RESTFul API using the correct verb and return status.</li>
        <li>Best Practices - Repository Pattern has been used for the Data Access in order to achieve abstraction.</li>
        <li>Security - Fluent Validation has been applied on the Backend View Models.</li>
        <li>Security - Rate Limiting has been applied to the backend api endponts.</li>
        <li>Security - Updated Latest nuget packages to the latest versions.</li>
        <li></li>
      </ul>
    </li>
    <li>
      <strong>Front-end</strong>
      <ul>
        <li>Used the new Angular signals feature for state management.</li>
        <li></li>
      </ul>
    </li>
  </ul>
  
  
  