<header class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light py-4">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/assets/logo.svg" alt="UK Parliament logo" class="me-3" height="50">
      </a>

      <!-- Mobile Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-lg-end text-center text-lg-start" id="navbarNav">
        <ul class="navbar-nav gap-4 fs-6">
          <li class="nav-item">
            <a [routerLink]="'/person-manager'" class="nav-link link-dark" routerLinkActive="active" aria-label="Go to Person Manager page">Person Manager</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/implementation'" class="nav-link link-dark" routerLinkActive="active" aria-label="Go to Implementation page">Implementation</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
