<header
  class="d-flex flex-wrap d-flex justify-content-between py-3 mb-4 border-bottom"
>
  <div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a
          [routerLink]="'/person-manager'"
          class="nav-link px-2 link-dark"
          routerLinkActive="active"
        >Person Manager</a
        >
      </li>


        <li>
          <a
            [routerLink]="'/implementation'"
            routerLinkActive="active"
            class="nav-link px-2 link-dark"
          >Implementation</a
          >
        </li>


      <li>
        <a
          [routerLink]="'about'"
          class="nav-link px-2 link-dark"
          routerLinkActive="active"
        >About</a
        >
      </li>
    </ul>
  </div>

</header>
